
body {
    background-color: rgb(241, 242, 243);
}

.jumbotron {
    background-color: white;
    text-align: center;
    padding: 10px 0px 85px 0px;
}

.container {
    background-color: white;
    margin-top: 180px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#ssn-input {
    float: right;
}

#dob-input {
    float: right;
}

#submit-button {
    float: right;
    margin-top: 30px;
}

p {
    color: rgb(75,113,176);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
